@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/typicons/2.1.2/typicons.min.css');

body {
    background-color: rgb(44, 44, 44);
    color: white;
    height: auto;
    padding: 5px;
}

.center-text {
    margin: auto;
    width: 60%;
    font-family: 'DM Sans', sans-serif;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: white;
}

nav {
    background-color: transparent;
    margin: 0;
    overflow: hidden;
}

.logo {
    font-size: 20px;
}

h2 {
    font-size: medium;
    padding: 0;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: white;
    display: block;
    text-decoration: none;
}

nav ul li:first-child {
    margin-right: auto;
}

.nav_button {
    padding: 14px 16px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sidebar {
    margin-top: 2vh;
    padding: 0;
    height: 80vh;
    width: 20vh;
    background-color: #434343;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    display: inline-block;
}

/* Sidebar links */
.sidebar a {
    display: block;
    font-size: 14px;
    color: white;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
    display: inline-block;
    top: 7%;
    vertical-align: top;
    margin-left: 10px;
    height: 80vh;
    width: 50vw;
    position: absolute;
    overflow-y: auto;
}

.container {
    display: inline-block;
}